<!DOCTYPE html>
<html>
  <head>
  
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div>
      <%if user_signed_in? %>
             <h3> <%= link_to 'Log-out', destroy_user_session_path, method: :delete%> </h3>
          <% end %>
         <%if admin_signed_in? %>
              <h3><%= link_to 'Log-out', destroy_admin_session_path, method: :delete%> </h3>
          <% end %>
          <%if !user_signed_in? && !admin_signed_in?%>
             <h3>Login as : <%= link_to 'User', new_user_session_path %>
              <%= link_to 'Admin', new_admin_session_path %></h3>
          <% end %>
             
             <h3>  <%= link_to 'Home', root_path %>
             <%= link_to 'View Movie List', movies_path %> </h3> 

<hr>
     <%= yield %> 
  </body>
</html>
